<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Подавление CDP предупреждений -->
    <logger name="org.openqa.selenium.devtools" level="ERROR"/>
    <logger name="org.openqa.selenium.chromium" level="ERROR"/>
    
    <!-- Общие настройки логирования -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>